
@{
    ViewBag.Title = "AddMark";
}

<h2>AddMark</h2>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-teal" style="width:25px; margin-top:25px; ">
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
</div>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; margin-top:25px;" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Материал", "Material", "Material")</a>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Задание", "Task", "Task")</a>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Журнал", "Index", "Classbook")</a>
</div>
<%:Html.MyValidationSummary()%>
@using (Html.BeginForm("AddMarkData", "Classbook"))
{
    <ol>
        <li>
            @Html.Label("Курс")
            <input class="w3-input"
                   name="txtCourse"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Предмет")
            <input class="w3-input"
                   name="txtSubject"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Имя студента")
            <input class="w3-input"
                   name="txtName"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Фамилия студента")
            <input class="w3-input"
                   name="txtSurname"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Название задания")
            <input class="w3-input"
                   name="txtTaskNAme"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Оценка")
            <input class="w3-input"
                   name="txtMark"
                   type="text"
                   value="" />
        </li>
        <li>
            @Html.Label("Дата")
            <input class="w3-input"
                   name="txtDate"
                   type="text"
                   value="" />
        </li>
    </ol>
    <input type="submit" value="Добавить" />
}
<div id="divResult"></div>