@model IEnumerable<E_learning_portal.Models.MyModels.Classbook>

@{
    ViewBag.Title = "CDetails";
}

<h2>CDetails</h2>

<p>
    @Html.ActionLink("Создать", "SubjectCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.ActionLink("Edit", "SubjectEdit", new { id = item.ClassbookId }) |
                @Html.ActionLink("Далее", "Students", new { id = item.ClassbookId }) |
                @Html.ActionLink("Delete", "SubjectDelete", new { id = item.ClassbookId })
            </td>
        </tr>
    }

</table>


