@model E_learning_portal.Models.MyModels.Classbook

@{
    ViewBag.Title = "MarkDetails";
}

<h2>MarkDetails</h2>

<div class="w3-teal" style="width:25px; margin-top:25px; ">
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
</div>
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; margin-top:25px;" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Материал", "Material", "Material")</a>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Задание", "Task", "Task")</a>
    <a href="#" class="w3-bar-item w3-button">@Html.ActionLink("Журнал", "Index", "Classbook")</a>
</div>
<div>
    <h4>Classbook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>*@

        <dd>
            @*@Html.DisplayFor(model => model.StudentId)*@
            @Html.DropDownListFor(model => model.StudentId, ViewBag.Students as SelectList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassbookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
