@model IEnumerable<E_learning_portal.Models.MyModels.Teacher>

@{
    ViewBag.Title = "Преподаватели";
}

<h2>Преподаватели</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "TEdit", new { id=item.TeacherId }) |
            @Html.ActionLink("Удалить", "TDelete", new { id=item.TeacherId })
        </td>
    </tr>
}

</table>
